@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    background: #fff;
    font-family: 'Gilroy-Bold';
    color: black;
    font-weight: 600;
}

img{
    max-width: 1175px;
    margin: 0 auto;
}

.container{
    max-width: 1146px;
    margin: 0 auto;
}

.header{
    margin-bottom: 95px;
}

.headerLogo{
    padding: 44px;
}

.navigation{
    padding: 51px 0;
}

.navigationlinkHome{
    color: #F25822;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    font-weight: 400;
}

.navigationlink{
    color: #000;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-weight: 400;
}

.main{
    margin-bottom: 163px;
}

.contentLeftSide{
    max-width: 550px;
}

.contentHead{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 17px;
}

.contentText{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.redBtn{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.btn{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.logos{
    margin-bottom: 96px;
}