@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}

@font-face{
    font-family: 'gilroy-regular';
    src: url(./font/gilroy-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    background: #fff;
    font-family: 'Gilroy-Bold';
    color: black;
    font-weight: 600;
}

img{
    max-width: 1175px;
}

.container{
    max-width: 1146px;
    margin: 0 auto;
}

.header{
    margin-top: 45px;
    margin-bottom: 95px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    
}

.navigationlink{
    color: #000;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-weight: 400;
}

.navigationlinkHome{
    color: #F25822;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    font-weight: 400;
}


.main{
    margin-bottom: 163px;
}

.content{
    display: flex;
    gap: 10px;
}

.contentLeftSide{
    max-width: 550px;
}

.contentHead{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 17px;
}

.contentText{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.redBtn{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.btn{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
}

.logos{
    margin-top: 200px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.contentBlockText{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.block{
    width: 370px;
    height: 291px;
    padding: 40px 0 0 30px;
}

.blockShadow{
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.contentBlockText h2{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    padding: 25px 0 0 0;
}

.informText{
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    padding: 17px 0 0 0;
}

.smallText{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    padding: 25px 0 0 0; 
}

.contentBlockBtnText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBlockBtnText h1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    padding: 92px 0 0 0;
}

.contentBlockBtnText p{
    max-width: 682px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 19px 0 54px 0;
}

.blockBtn{
    min-width: 370px;
    max-height: 549px;
    background: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid: 30px;
}

.blockShadowBtn{
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.blockBtn h2{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    padding: 0 83px;
}

.blockBtn p{
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    min-width: 310px;
    height: 63px;
    padding: 22px 30px 0 30px;
}

.btnInBlockBtn{
    background: #F25822;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    margin: 54px 110px 65px 110px;
    cursor: pointer;
}

.contentsBlockBnt{
    display: flex;
    align-items: center;
}